.app {
    .home-box {
        .daily-forecast-list-box {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 30px;
            animation: enterFromLeft 1s ease 1;

            .daily-forecast-preview-box {
                min-width: 250px;
                text-align: center;
                border: 1px solid $primaryLightBlue;
                border-radius: 5px;
                padding: 30px 10px;
                margin: 10px;
                flex: 0 0 18%;

                &:hover {
                    box-shadow: 0 2px 2px 5px #e4e4e4;
                }
            }
        }
    }
}

.dark-app {
    .home-box {
        .daily-forecast-list-box {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 30px;

            .daily-forecast-preview-box {
                min-width: 250px;
                text-align: center;
                border: 1px solid #e4e4e4;
                border-radius: 5px;
                padding: 30px 10px;
                margin: 10px;
                flex: 0 0 18%;
                color: #fff;

                &:hover {
                    box-shadow: 0 2px 2px 5px #e4e4e4;
                }
            }
        }
    }
}

@keyframes enterFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
